<mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
<div fxLayout="column wrap" fxLayoutGap="16px grid">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let mess of messages"
  >
    <mat-card [routerLink]="['/message/', mess.id]">
      <mat-card-title>
        <button
          mat-mini-fab color="primary">
          <mat-icon>mail</mat-icon>
        </button>
        {{ mess.user }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ mess.date }}
      </mat-card-subtitle>
      <mat-card-content>
        <p>{{ mess.text }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

