<h1>new message</h1>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSub()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>user</mat-label>
        <input name="user" matInput required ngModel>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>message</mat-label>
        <textarea
          name="text"
          matInput
          required
          ngModel
          cdkTextareaAutosize
          cdkAutosizeMinRows="5">
        </textarea>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid || isFetching"
      >
        SEND
      </button>
      <mat-progress-bar mode="indeterminate" *ngIf="isFetching"></mat-progress-bar>
    </form>
  </mat-card-content>
</mat-card>

