<mat-progress-bar mode="indeterminate" *ngIf="isFechOne"></mat-progress-bar>
<mat-card *ngIf="service.message">
  <mat-card-title class="one use">
    {{ service.message.user }}
  </mat-card-title>
  <mat-card-subtitle class="one sub">
    {{ service.message.date }}
  </mat-card-subtitle>
  <mat-card-content>
    <p class="one text">{{ service.message.text }}</p>
  </mat-card-content>
</mat-card>
